dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f8cfa8ba-e761-4c72-80c0-5fde5323550f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="85539b6d-6750-42a9-b80b-2ef3c92fe2d5" >
		<http:listener doc:name="Listener" doc:id="e857a47d-21ce-4155-b8dc-92d46420d4a6" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hello Sandeep!"]' doc:name="Set Payload" doc:id="b576828e-d4f6-444e-a0ee-b4021eaf71e7" />
		<logger level="INFO" doc:name="Logger" doc:id="4c231d84-eecf-4a89-b958-ef6deee3a08f" message="#[payload]"/>
	</flow>
</mule>
